.figurePokemon {
  width: 250px;
  height: 280px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.imgPokemon {
  width: auto;
  height: 100px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  object-fit: cover;
}
